@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-image: url("./pac-images/background.jpeg");
    background-size:cover;

}
.gba{
    width:700px;
    height: 900px;
    background-color: #88E261;
    border-radius:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.gba-screen{
    margin-top: 50px;
    width: 600px;
    height: 600px;
    background-color:#2F322E;
    border-radius:15px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.start-screen, .game-over{
    width:550px;
    height: 475px;
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    align-items:center;
     background-color: white; 
}
.game-title-row{
    height:80px;
    width:500px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.game-title, .game-over-text{
    height: 80px;
    width: 300px;
    margin-top: 15px;
    /* background-color:red; */
}
.instructions, .description{
    width: 500px;
    height: 200px;
    margin-top: 15px;
    /* background-color:cyan; */
}
.description{
    height:100px;
}
.score-results{
    height: 75px;
    width: 250px;
    margin-top: 25px;
    /* background-color:blue; */
}
.color-selection{
    height: 75px;
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color:violet; */
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.circle{
    height: 50px;
    width:50px;
    border-radius:50%;
  
}
.square{
    height:50px;
    width:50px; 
    
}
.cornflowerblue{
    background-color:cornflowerblue;
}
.orange{
    background-color: orange;
}
.darkseagreen{
    background-color:darkseagreen;
}
.firebrick{
    background-color:firebrick;
}
.pink{
    background-color: pink;
}
.start-row{
    height:30px; 
    width: 500px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;

}
.start{
    height:30px; 
    width: 200px;
    margin-top:15px;
    /* background-color: yellow; */
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.restart{
    height:30px; 
    width: 400px;
    margin-top:15px;
    /* background-color: yellow; */
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}


h1,p{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color:#2F322E;
    font-size:20px;
}

h1{
    
    font-size: 50px;
}

input{
    width: 150px; 
    height: 25px;
    background-color: darkgray;
    border-radius:10px;
}

.canvas{
    width: 550px;
    height: 400px;
    background-color: white;
   
    
}
canvas{
    width:550px;
    height:400px;
    background-color: #222;
    
}
.scoreboard{
    display:flex;
    display:row;
    align-items:center;
    justify-content:space-between;
    width: 550px;
    height: 75px; 
    background-color: #222;
    color:white;
}


.score,.max-score{
    height:20px;
    width: 150px;
    padding-left:20px;
    font-size:20px;
    text-align:center;
    font-family: 'Architects Daughter', cursive;
}
.life{
    height:20px;
    width: 100px;
    font-size:20px;
    
}
img{
    position:relative;
    width:100%;
    height:100%;
}

#score-text{
    position:relative;
}

.gameboy-text{
    width: 400px;
    height: 50px;
    margin-top: 15px;
    /* background-color: plum; */
}


#logo {
    /* border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px; */
  font-size:50px;
    text-align: center;

}

.logoName {
    color: #bdc6d4;
    font-family: Gill Sans;
}

.logoModel {
    font-family: Comic Sans MS;
}

.logoModel #c {
    color: #7b1e57;
}

.logoModel #o1 {
    color: #56527d;
}

.logoModel #l {
    color: #7d9273;
}

.logoModel #o2 {
    color: #c4c470;
}

.logoModel #r {
    color: #27619d;
}
#text{
    text-align:center;
}
.gba-buttons{
    height: 150px;
    width: 550px;
    /* background-color: yellow; */
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;

}
.gba-navigation{
    margin-left:20px;
    height: 100px;
    width: 100px;
    /* background-color:aqua; */
}
.up-down-button{
    position:relative;
    left:30%;
    background-color: #222;
    width: 20px;
    height: 80px;
}
.left-right-button{
    position:relative;
   bottom: 50%;
    background-color: #222;
    width: 80px;
    height: 20px;
}
.gba-a-b{
    margin-right:20px;
    height: 100px;
    width: 100px;
    /* background-color:aqua; */
}

.select-start-button{
    /* background-color:green; */
    height:50px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.a-button{
    position:relative;
    height:45px;
    width:45px;
    background-color:black;
    border-radius:50%;
    left: 50px;
    display:flex;
    flex: row;
    align-items: center;
    justify-content: center;
}
.b-button{
    position:relative;
    height:45px;
    width:45px;
    border-radius:50%;
    background-color:black;
    right: 10px;
    display:flex;
    flex: row;
    align-items: center;
    justify-content: center;
}
.select-button,.gba-start-button{
    height:15px;
    width: 65px;
    border-radius: 50%;
    background-color:black;
}

.letters{
    color:grey;
    font-size:25px;
}
#pink-ghost-decor{
    height:40px;
    width:40px;
    right: 25px;
    transform: rotate(-30deg);
}
#blue-ghost-decor{
    height:40px;
    width:40px;
    left:25px;
    transform: rotate(30deg);
}

#green-pacman-decor{
    height:40px;
    width:40px;
    right: 75px;
    top: 15px;
    
}

#orange-pacman-decor{
    height:40px;
    width:40px;
    left: 75px;
    top: 15px;
    transform: rotate(180deg);
}

.game-screen.hidden,
.start-screen.hidden, 
.game-over.hidden{
  display: none;
}

.hidden{
    display:none;
}